.images {
    max-width: 500px;
    max-height: 500px;
}


.petitesImages {
    max-width: 70px;
    max-height: 70px;
}



.choixBoutton {
    font-size: 24px;
}

.secondRow {
    height: 600px;
}